USE [Traceability]
GO
/****** Object:  View [dbo].[ICE_data]    Script Date: 25.06.2025 9:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[ICE_data] as 
select * from [onprem_sql].[L7345_proxy].[dbo].[MaterialCard]
GO
/****** Object:  Table [dbo].[c_station]    Script Date: 25.06.2025 9:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[c_station](
	[station_id] [int] NOT NULL,
	[station_name] [varchar](40) NULL,
	[station_description] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[station_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExportDbTeploty2213_20250514_u]    Script Date: 25.06.2025 9:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExportDbTeploty2213_20250514_u](
	[ID] [time](7) NULL,
	[ParameterDefinitionID] [nvarchar](50) NULL,
	[Value] [smallint] NULL,
	[TS] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExportDbTeploty2214_20250515_u]    Script Date: 25.06.2025 9:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExportDbTeploty2214_20250515_u](
	[ID] [int] NULL,
	[ParameterDefinitionID] [nvarchar](50) NULL,
	[Value] [smallint] NULL,
	[TS] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[h_part_status]    Script Date: 25.06.2025 9:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[h_part_status](
	[part_id] [varchar](50) NOT NULL,
	[employee_id] [varchar](100) NULL,
	[station_id] [varchar](100) NULL,
	[status] [varchar](20) NULL,
	[status_timestamp] [datetime] NULL,
	[shipping_id] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [clustered_index_h_part_status]    Script Date: 25.06.2025 9:37:06 ******/
CREATE CLUSTERED INDEX [clustered_index_h_part_status] ON [dbo].[h_part_status]
(
	[part_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kovaci_linka_scans]    Script Date: 25.06.2025 9:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kovaci_linka_scans](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[gitter_id] [varchar](50) NOT NULL,
	[employee_id] [varchar](100) NOT NULL,
	[timestamp] [datetime] NULL,
	[position] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialCard_backup]    Script Date: 25.06.2025 9:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialCard_backup](
	[ID] [int] NOT NULL,
	[PartID] [int] NOT NULL,
	[PartType] [int] NULL,
	[Melt] [varchar](3) NULL,
	[ForgingDay] [int] NULL,
	[PartState] [int] NULL,
	[SAWDone] [bit] NULL,
	[CHMDone] [bit] NULL,
	[1R1Done] [bit] NULL,
	[105Done] [bit] NULL,
	[AWODone] [bit] NULL,
	[2R1Done] [bit] NULL,
	[205Done] [bit] NULL,
	[210Done] [bit] NULL,
	[RLMFlow1Done] [bit] NULL,
	[RLMFlow2Done] [bit] NULL,
	[2R4Done] [bit] NULL,
	[230Done] [bit] NULL,
	[UPPDone] [bit] NULL,
	[2R5Done] [bit] NULL,
	[225Done] [bit] NULL,
	[BEPDone] [bit] NULL,
	[2R7Done] [bit] NULL,
	[235Done] [bit] NULL,
	[ZWODone] [bit] NULL,
	[3R1Done] [bit] NULL,
	[305Done] [bit] NULL,
	[310Done] [bit] NULL,
	[3R2Done] [bit] NULL,
	[FOPDie1Done] [bit] NULL,
	[FOPDie2Done] [bit] NULL,
	[3R3Done] [bit] NULL,
	[3R4Done] [bit] NULL,
	[320Done] [bit] NULL,
	[TRPDone] [bit] NULL,
	[3R5Done] [bit] NULL,
	[340Done] [bit] NULL,
	[345Done] [bit] NULL,
	[3R7Done] [bit] NULL,
	[3R8Done] [bit] NULL,
	[350Done] [bit] NULL,
	[360Done] [bit] NULL,
	[3R9Done] [bit] NULL,
	[355Done] [bit] NULL,
	[3R10Done] [bit] NULL,
	[LGODone] [bit] NULL,
	[405Done] [bit] NULL,
	[4R1Done] [bit] NULL,
	[410Done] [bit] NULL,
	[4R2Done] [bit] NULL,
	[415Done] [bit] NULL,
	[420Done] [bit] NULL,
	[430Done] [bit] NULL,
	[4R4Done] [bit] NULL,
	[WAODone] [bit] NULL,
	[5R1Done] [bit] NULL,
	[505Done] [bit] NULL,
	[510Done] [bit] NULL,
	[5R2Done] [bit] NULL,
	[515Done] [bit] NULL,
	[516Done] [bit] NULL,
	[5R3Done] [bit] NULL,
	[531Done] [bit] NULL,
	[532Done] [bit] NULL,
	[AWOTemp] [int] NULL,
	[AWOTime] [int] NULL,
	[ZWOTime] [int] NULL,
	[LGOTime] [int] NULL,
	[WAOTime] [int] NULL,
	[Zone2Time] [int] NULL,
	[Zone3Time] [int] NULL,
	[Zone4Time] [int] NULL,
	[515QualityA] [tinyint] NULL,
	[515QualityB] [tinyint] NULL,
	[516QualityA] [tinyint] NULL,
	[516QualityB] [tinyint] NULL,
	[Destination] [char](5) NULL,
	[DMC] [char](10) NULL,
	[TS] [datetimeoffset](3) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[part_data]    Script Date: 25.06.2025 9:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[part_data](
	[DMC] [nvarchar](50) NULL,
	[ParameterDefinitionID] [nvarchar](100) NULL,
	[Value] [decimal](10, 2) NULL,
	[ExportTS] [datetime2](7) NULL,
	[DmcTS] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[part_status]    Script Date: 25.06.2025 9:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[part_status](
	[part_id] [varchar](20) NOT NULL,
	[create_timestamp] [datetime] NULL,
	[employee_id] [varchar](100) NULL,
	[station_id] [varchar](100) NULL,
	[last_status] [varchar](20) NULL,
	[status_timestamp] [datetime] NULL,
	[shipping_id] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[part_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[protocol_part]    Script Date: 25.06.2025 9:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[protocol_part](
	[part_id] [varchar](20) NULL,
	[employee_id] [varchar](20) NULL,
	[station_id] [int] NULL,
	[status] [varchar](20) NULL,
	[status_timestamp] [datetime] NULL,
	[shipping_id] [varchar](20) NULL,
	[protocol_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[traceability_log]    Script Date: 25.06.2025 9:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[traceability_log](
	[part_id] [varchar](50) NOT NULL,
	[employee_id] [varchar](100) NULL,
	[station_id] [varchar](100) NULL,
	[status] [varchar](20) NULL,
	[status_timestamp] [datetime] NULL,
	[shipping_id] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [clustered_index_traceability_log]    Script Date: 25.06.2025 9:37:06 ******/
CREATE CLUSTERED INDEX [clustered_index_traceability_log] ON [dbo].[traceability_log]
(
	[part_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[kovaci_linka_scans] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[kovaci_linka_scans]  WITH CHECK ADD CHECK  (([position]='B' OR [position]='A'))
GO
/****** Object:  StoredProcedure [dbo].[insert_protocol_part]    Script Date: 25.06.2025 9:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[insert_protocol_part]
    @part_id varchar(50),
    @employee_id varchar(100),
    @station_id varchar(100),
    @status varchar(20),
    @status_timestamp datetime,
    @shipping_id varchar(50) = NULL,
    @protocol_id varchar(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO [dbo].[protocol_part] 
    (part_id, employee_id, station_id, status, status_timestamp, shipping_id, protocol_id)
    VALUES 
    (@part_id, @employee_id, @station_id, @status, @status_timestamp, @shipping_id, @protocol_id);
 
 
END
GO
/****** Object:  StoredProcedure [dbo].[InsertKovaciLinkaScan]    Script Date: 25.06.2025 9:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create stored procedure for inserting kovaci linka scans
CREATE PROCEDURE [dbo].[InsertKovaciLinkaScan]
    @gitter_id VARCHAR(50),
    @employee_id VARCHAR(100),
    @position CHAR(1)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        INSERT INTO kovaci_linka_scans (gitter_id, employee_id, position)
        VALUES (@gitter_id, @employee_id, @position);
        
        SELECT SCOPE_IDENTITY() AS id;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertTraceabilityLog]    Script Date: 25.06.2025 9:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertTraceabilityLog]
    @part_id VARCHAR(50),
    @employee_id VARCHAR(100),
    @station_id VARCHAR(100),
    @status VARCHAR(20),
    @status_timestamp DATETIME,
    @shipping_id VARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.traceability_log (part_id, employee_id, station_id, status, status_timestamp, shipping_id)
    VALUES (@part_id, @employee_id, @station_id, @status, @status_timestamp, @shipping_id);
END;

GO
/****** Object:  StoredProcedure [dbo].[set_gitter_status]    Script Date: 25.06.2025 9:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[set_gitter_status]
@station_id VARCHAR(100),
@status VARCHAR(20),
@status_timestamp DATETIME,
@shipping_id VARCHAR(50),
@current_workspace_id INT
AS
BEGIN

--update dbo.h_part_status
--set status = @status, status_timestamp = getdate()
--where 1=1 
--	and station_id = @station_id
--	and shipping_id = @shipping_id;

--update dbo.part_status
--set last_status = @status, status_timestamp = getdate()
--where 1=1 
--	and station_id = @station_id
--	and shipping_id = @shipping_id;




	INSERT INTO traceability_log (
        part_id,
        employee_id,
        station_id,
        [status],
        status_timestamp,
        shipping_id
    )
    SELECT 
        part_id,
        'virtual' AS employee_id,
        @current_workspace_id AS station_id,
        @status AS [status],
        @status_timestamp AS status_timestamp,
        @shipping_id AS shipping_id
    FROM dbo.part_status
    WHERE
        station_id = @station_id
        --AND [last_status] = @status
        AND shipping_id = @shipping_id;
END
GO
/****** Object:  Trigger [dbo].[trg_Part_Status_History]    Script Date: 25.06.2025 9:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Create trigger for part_status table
CREATE TRIGGER [dbo].[trg_Part_Status_History]
ON [dbo].[part_status]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Insert both old and new records into h_part_status
    INSERT INTO [dbo].[h_part_status] (
        part_id,
        employee_id,
        station_id,
        status,
        status_timestamp,
        shipping_id
    )
    SELECT 
        d.part_id,
        d.employee_id,
        d.station_id,
        d.last_status,
        d.status_timestamp,
        d.shipping_id
    FROM deleted d;
END;
GO
ALTER TABLE [dbo].[part_status] DISABLE TRIGGER [trg_Part_Status_History]
GO
/****** Object:  Trigger [dbo].[trg_Insert_H_Part_Status]    Script Date: 25.06.2025 9:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Insert_H_Part_Status]
ON [dbo].[traceability_log]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    -- First check if any of the parts were previously DESTROYED
    IF EXISTS (
        SELECT 1 
        FROM inserted i
        JOIN [dbo].[part_status] ps ON i.part_id = ps.part_id
        WHERE ps.last_status = 'DESTROYED'
    )
    BEGIN
        RAISERROR ('Cannot modify status of DESTROYED parts.', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END

    declare @station_id VARCHAR(2)

    -- Handle NOK and DESTROYED status for any station first
    IF EXISTS (SELECT 1 FROM inserted WHERE status IN ('NOK', 'DESTROYED'))
    BEGIN
        -- Special handling for Destruktivni kontrola station
        IF EXISTS (SELECT 1 FROM inserted WHERE station_id = '11' AND status = 'DESTROYED')
        BEGIN
            INSERT INTO [dbo].[h_part_status] (part_id, employee_id, station_id, status, status_timestamp, shipping_id)
            SELECT 
                i.part_id,
                i.employee_id,
                i.station_id,
                'DESTROYED',  -- Always set to DESTROYED for this station
                i.status_timestamp,
                i.shipping_id
            FROM inserted i
            WHERE i.station_id = '11';
            RETURN;
        END

        -- Regular NOK/DESTROYED handling for other stations
        INSERT INTO [dbo].[h_part_status] (part_id, employee_id, station_id, status, status_timestamp, shipping_id)
        SELECT 
            i.part_id,
            i.employee_id,
            i.station_id,
            i.status,
            i.status_timestamp,
            i.shipping_id
        FROM inserted i
        WHERE i.status IN ('NOK', 'DESTROYED');
    END

    ------------------------
    ---Kovaci linka
    ------------------------
    set @station_id = '1'
    IF EXISTS (SELECT 1 FROM inserted WHERE station_id = @station_id)
    BEGIN
        INSERT INTO [dbo].[h_part_status] (part_id, employee_id, station_id, status, status_timestamp, shipping_id)
        SELECT 
            i.part_id,
            i.employee_id,
            i.station_id,
            i.status,
            i.status_timestamp,
            i.shipping_id
        FROM inserted i
        WHERE station_id = @station_id
    END
    
    ------------------------
    ---Test Tvrdosti
    ------------------------
    set @station_id = '2'
    IF EXISTS (
        SELECT 1 
        FROM inserted i 
        join [dbo].[part_status] ps 
            on i.part_id = ps.part_id
        WHERE   (ps.station_id = '1'
                    and ps.last_status = 'OK') or
                (ps.station_id = '7'
                    and ps.last_status = 'OK') or
				(ps.station_id = '8'
                    and ps.last_status = 'OK') or
                    ps.station_id = @station_id
                        and ps.last_status = 'NOK')
    BEGIN
        INSERT INTO [dbo].[h_part_status] (part_id, employee_id, station_id, status, status_timestamp, shipping_id)
        SELECT 
            i.part_id,
            i.employee_id,
            i.station_id,
            i.status,
            i.status_timestamp,
            i.shipping_id
        FROM inserted i
        WHERE station_id = @station_id
    END

    ------------------------
    ---Penetrace
    ------------------------
    set @station_id = '3'
    IF EXISTS (
        SELECT 1 
        FROM inserted i 
        join [dbo].[part_status] ps 
            on i.part_id = ps.part_id
        WHERE (ps.station_id = '2'
                    and ps.last_status = 'OK'))
    BEGIN
        INSERT INTO [dbo].[h_part_status] (part_id, employee_id, station_id, status, status_timestamp, shipping_id)
        SELECT 
            i.part_id,
            i.employee_id,
            i.station_id,
            i.status,
            i.status_timestamp,
            i.shipping_id
        FROM inserted i
        WHERE station_id = @station_id
    END

    ------------------------
    ---Tryskani
    ------------------------
    set @station_id = '4'
    IF EXISTS (
        SELECT 1 
        FROM inserted i 
        join [dbo].[part_status] ps 
            on i.part_id = ps.part_id
        WHERE (ps.station_id = '3'
                    and ps.last_status = 'OK') or
                (ps.station_id = '9'
                    and ps.last_status = 'OK')or
                (ps.station_id = '10'
                    and ps.last_status = 'OK'))
    BEGIN
        INSERT INTO [dbo].[h_part_status] (part_id, employee_id, station_id, status, status_timestamp, shipping_id)
        SELECT 
            i.part_id,
            i.employee_id,
            i.station_id,
            i.status,
            i.status_timestamp,
            i.shipping_id
        FROM inserted i
        WHERE station_id = @station_id
    END

    ------------------------
    ---Kontrola kvality
    ------------------------
    set @station_id = '5'
    IF EXISTS (
        SELECT 1 
        FROM inserted i 
        join [dbo].[part_status] ps 
            on i.part_id = ps.part_id
        WHERE (ps.station_id = '4'
                    and ps.last_status = 'OK')or
                (ps.station_id = '10'
                    and ps.last_status = 'OK'))
    BEGIN
        INSERT INTO [dbo].[h_part_status] (part_id, employee_id, station_id, status, status_timestamp, shipping_id)
        SELECT 
            i.part_id,
            i.employee_id,
            i.station_id,
            i.status,
            i.status_timestamp,
            ps.shipping_id -- preberáme shipping_id z part_status
    FROM inserted i
    JOIN [dbo].[part_status] ps ON ps.part_id = i.part_id
    WHERE i.station_id = @station_id;
    END

    ------------------------
    ---Odeslani
    ------------------------
    set @station_id = '6'
   
    IF EXISTS (
        SELECT 1 
        FROM inserted i join [dbo].[part_status] ps 
            on i.part_id = ps.part_id
         WHERE (ps.station_id in ('5','4') and ps.last_status = 'OK') )
    BEGIN
        INSERT INTO [dbo].[h_part_status] (part_id, employee_id, station_id, status, status_timestamp, shipping_id)
        SELECT 
            i.part_id,
            i.employee_id,
            i.station_id,
            i.status,
            i.status_timestamp,
            i.shipping_id
        FROM inserted i
        WHERE station_id = @station_id
    END

    ------------------------
    ---Laborator
    ------------------------
    set @station_id = '7'
    IF EXISTS (
        SELECT 1 
        FROM inserted i 
        join [dbo].[part_status] ps 
            on i.part_id = ps.part_id
        WHERE (ps.station_id = '1'))
    BEGIN
        INSERT INTO [dbo].[h_part_status] (part_id, employee_id, station_id, status, status_timestamp, shipping_id)
        SELECT 
            i.part_id,
            i.employee_id,
            i.station_id,
            i.status,
            i.status_timestamp,
            i.shipping_id
        FROM inserted i
        WHERE station_id = @station_id
    END

    ------------------------
    ---Penetrace Rework
    ------------------------
    set @station_id = '8'
    IF EXISTS (
        SELECT 1 
        FROM inserted i 
        join [dbo].[part_status] ps 
            on i.part_id = ps.part_id
        WHERE (ps.station_id = '3' and ps.last_status = 'REWORK'))
    BEGIN
        INSERT INTO [dbo].[h_part_status] (part_id, employee_id, station_id, status, status_timestamp, shipping_id)
        SELECT 
            i.part_id,
            i.employee_id,
            i.station_id,
            i.status,
            i.status_timestamp,
            i.shipping_id
        FROM inserted i
        WHERE station_id = @station_id
    END

    ------------------------
    ---Tryskani Rework
    ------------------------
    set @station_id = '9'
    IF EXISTS (
        SELECT 1 
        FROM inserted i 
        join [dbo].[part_status] ps 
            on i.part_id = ps.part_id
        WHERE (ps.station_id = '4' and ps.last_status = 'REWORK'))
    BEGIN
        INSERT INTO [dbo].[h_part_status] (part_id, employee_id, station_id, status, status_timestamp, shipping_id)
        SELECT 
            i.part_id,
            i.employee_id,
            i.station_id,
            i.status,
            i.status_timestamp,
            i.shipping_id
        FROM inserted i
        WHERE station_id = @station_id
    END

    ------------------------
    ---Kontrola kvality Rework
    ------------------------
    set @station_id = '10'
    IF EXISTS (
        SELECT 1 
        FROM inserted i 
        join [dbo].[part_status] ps 
            on i.part_id = ps.part_id
        WHERE (ps.station_id = '5' and ps.last_status = 'REWORK'))
    BEGIN
        INSERT INTO [dbo].[h_part_status] (part_id, employee_id, station_id, status, status_timestamp, shipping_id)
        SELECT 
            i.part_id,
            i.employee_id,
            i.station_id,
            i.status,
            i.status_timestamp,
            i.shipping_id
        FROM inserted i
        WHERE station_id = @station_id
    END

    ------------------------
    ---Destruktivni kontrola
    ------------------------
    set @station_id = '11'
    IF EXISTS (
        SELECT 1 
        FROM inserted i 
        WHERE i.station_id = @station_id)
    BEGIN
        INSERT INTO [dbo].[h_part_status] (part_id, employee_id, station_id, status, status_timestamp, shipping_id)
        SELECT 
            i.part_id,
            i.employee_id,
            i.station_id,
            i.status,
            i.status_timestamp,
            i.shipping_id
        FROM inserted i
        WHERE station_id = @station_id
    END
END;
GO
ALTER TABLE [dbo].[traceability_log] ENABLE TRIGGER [trg_Insert_H_Part_Status]
GO
/****** Object:  Trigger [dbo].[trg_Insert_Update_Part_Status]    Script Date: 25.06.2025 9:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Insert_Update_Part_Status]
ON [dbo].[traceability_log]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    -- Check for DESTROYED parts but don't ROLLBACK
    -- Just skip processing for these parts in part_status updates
    DECLARE @has_destroyed_parts BIT = 0;
    IF EXISTS (
        SELECT 1 
        FROM inserted i
        JOIN [dbo].[part_status] ps ON i.part_id = ps.part_id
        WHERE ps.last_status = 'DESTROYED'
    )
    BEGIN
        SET @has_destroyed_parts = 1;
        -- Log attempt to modify DESTROYED parts (optional)
        PRINT 'Attempt to modify DESTROYED parts detected - changes will be logged but part_status will not be updated.';
    END

    declare @station_id VARCHAR(2)

    -- Handle NOK and DESTROYED status for any station first
    -- But only for parts that weren't previously DESTROYED
    IF EXISTS (SELECT 1 FROM inserted i WHERE status IN ('NOK', 'DESTROYED')
               AND NOT EXISTS (
                   SELECT 1 FROM [dbo].[part_status] ps 
                   WHERE ps.part_id = i.part_id AND ps.last_status = 'DESTROYED'
               ))
    BEGIN
        -- Special handling for Destruktivni kontrola station
        IF EXISTS (SELECT 1 FROM inserted WHERE station_id = '11' AND status = 'DESTROYED')
        BEGIN
            MERGE [dbo].[part_status] AS target
            USING (
                SELECT 
                    part_id,
                    status_timestamp,
                    employee_id,
                    station_id,
                    'DESTROYED' as status,
                    shipping_id
                FROM inserted 
                WHERE station_id = '11'
                AND NOT EXISTS (
                    SELECT 1 FROM [dbo].[part_status] ps 
                    WHERE ps.part_id = inserted.part_id 
                    AND ps.last_status = 'DESTROYED'
                )
            ) AS source
            ON target.part_id = source.part_id
            WHEN MATCHED THEN
                UPDATE SET 
                    target.last_status = source.status,
                    target.status_timestamp = source.status_timestamp,
                    target.employee_id = source.employee_id,
                    target.station_id = source.station_id,
                    target.shipping_id = source.shipping_id
            WHEN NOT MATCHED THEN
                INSERT (
                    part_id,
                    create_timestamp,
                    employee_id,
                    station_id,
                    last_status,
                    status_timestamp,
                    shipping_id
                )
                VALUES (
                    source.part_id,
                    source.status_timestamp,
                    source.employee_id,
                    source.station_id,
                    source.status,
                    source.status_timestamp,
                    source.shipping_id
                );
            RETURN;
        END

        -- Regular NOK/DESTROYED handling for other stations
        MERGE [dbo].[part_status] AS target
        USING (
            SELECT 
                part_id,
                status_timestamp,
                employee_id,
                station_id,
                status,
                shipping_id
            FROM inserted 
            WHERE status IN ('NOK', 'DESTROYED')
            AND NOT EXISTS (
                SELECT 1 FROM [dbo].[part_status] ps 
                WHERE ps.part_id = inserted.part_id 
                AND ps.last_status = 'DESTROYED'
            )
        ) AS source
        ON target.part_id = source.part_id
        WHEN MATCHED THEN
            UPDATE SET 
                target.last_status = source.status,
                target.status_timestamp = source.status_timestamp,
                target.employee_id = source.employee_id,
                target.station_id = source.station_id,
                target.shipping_id = source.shipping_id
        WHEN NOT MATCHED THEN
            INSERT (
                part_id,
                create_timestamp,
                employee_id,
                station_id,
                last_status,
                status_timestamp,
                shipping_id
            )
            VALUES (
                source.part_id,
                source.status_timestamp,
                source.employee_id,
                source.station_id,
                source.status,
                source.status_timestamp,
                source.shipping_id
            );

        -- If we have a NOK or DESTROYED status, we don't process any other rules
        RETURN;
    END

    -- Only continue with other station processing if the part isn't DESTROYED
    IF @has_destroyed_parts = 1 RETURN;

    ------------------------
    ---Kovaci linka
    ------------------------
    set @station_id = '1'
    IF EXISTS (SELECT 1 FROM inserted WHERE station_id = @station_id)
    BEGIN
        INSERT INTO [dbo].[part_status] (
            part_id, create_timestamp, employee_id, station_id, last_status, status_timestamp, shipping_id
        )
        SELECT 
            i.part_id,
            i.status_timestamp,
            i.employee_id,
            i.station_id,
            i.status,
            i.status_timestamp,
            i.shipping_id
        FROM inserted i
        WHERE i.station_id = @station_id;
    END
    
    ------------------------
    ---Test Tvrdosti
    ------------------------
    set @station_id = '2'
    IF EXISTS (
        SELECT 1 
        FROM inserted i 
        join [dbo].[part_status] ps 
            on i.part_id = ps.part_id
        WHERE   (ps.station_id = '1'
                    and ps.last_status = 'OK') or
				(ps.station_id = '7'
                    and ps.last_status = 'OK') or
                (ps.station_id = '8'
                    and ps.last_status = 'OK') )
    BEGIN
        UPDATE ps
        SET 
            ps.last_status = i.status,
            ps.status_timestamp = i.status_timestamp,
            ps.employee_id = i.employee_id,
            ps.station_id = i.station_id,
            ps.shipping_id = i.shipping_id
        FROM [dbo].[part_status] ps
        JOIN inserted i ON ps.part_id = i.part_id
        WHERE i.station_id = @station_id;
    END

    ------------------------
    ---Penetrace
    ------------------------
    set @station_id = '3'
    IF EXISTS (
        SELECT 1 
        FROM inserted i 
        join [dbo].[part_status] ps 
            on i.part_id = ps.part_id
        WHERE  (ps.station_id = '2'
                    and ps.last_status = 'OK'))
    BEGIN
        UPDATE ps
        SET 
            ps.last_status = i.status,
            ps.status_timestamp = i.status_timestamp,
            ps.employee_id = i.employee_id,
            ps.station_id = i.station_id,
            ps.shipping_id = i.shipping_id
        FROM [dbo].[part_status] ps
        JOIN inserted i ON ps.part_id = i.part_id
        WHERE i.station_id = @station_id;
    END

    ------------------------
    ---Tryskani
    ------------------------
    set @station_id = '4'
    IF EXISTS (
        SELECT 1 
        FROM inserted i 
        join [dbo].[part_status] ps 
            on i.part_id = ps.part_id
        WHERE (ps.station_id = '3'
                    and ps.last_status = 'OK') or
					(ps.station_id = '9'
                    and ps.last_status = 'OK') or
                (ps.station_id = '10'
                    and ps.last_status = 'OK'))
    BEGIN
        UPDATE ps
        SET 
            ps.last_status = i.status,
            ps.status_timestamp = i.status_timestamp,
            ps.employee_id = i.employee_id,
            ps.station_id = i.station_id,
            ps.shipping_id = i.shipping_id
        FROM [dbo].[part_status] ps
        JOIN inserted i ON ps.part_id = i.part_id
        WHERE i.station_id = @station_id;
    END

    ------------------------
    ---Kontrola kvality
    ------------------------
    set @station_id = '5'
    IF EXISTS (
        SELECT 1 
        FROM inserted i 
        join [dbo].[part_status] ps 
            on i.part_id = ps.part_id
        WHERE (ps.station_id = '4'
                    and ps.last_status = 'OK') or
					(ps.station_id = '10'
                    and ps.last_status = 'OK'))
    BEGIN
        UPDATE ps
        SET 
            ps.last_status = i.status,
            ps.status_timestamp = i.status_timestamp,
            ps.employee_id = i.employee_id,
            ps.station_id = i.station_id
           -- ,ps.shipping_id = i.shipping_id
        FROM [dbo].[part_status] ps
        JOIN inserted i ON ps.part_id = i.part_id
        WHERE i.station_id = @station_id;
    END

    ------------------------
    ---Odeslani
    ------------------------
    set @station_id = '6'
    IF EXISTS (
        SELECT 1 
        FROM inserted i join [dbo].[part_status] ps 
            on i.part_id = ps.part_id
         WHERE (ps.station_id in ('5','4') and ps.last_status = 'OK') )
    BEGIN
        UPDATE ps
        SET 
            ps.last_status = i.status,
            ps.status_timestamp = i.status_timestamp,
            ps.employee_id = i.employee_id,
            ps.station_id = i.station_id
           , ps.shipping_id = i.shipping_id
        FROM [dbo].[part_status] ps
        JOIN inserted i ON ps.part_id = i.part_id
        WHERE i.station_id = @station_id;
    END

    ------------------------
    ---Laborator
    ------------------------
    set @station_id = '7'
    IF EXISTS (
        SELECT 1 
        FROM inserted i 
        join [dbo].[part_status] ps 
            on i.part_id = ps.part_id
        WHERE (ps.station_id = '1'))
    BEGIN
        UPDATE ps
        SET 
            ps.last_status = i.status,
            ps.status_timestamp = i.status_timestamp,
            ps.employee_id = i.employee_id,
            ps.station_id = i.station_id,
            ps.shipping_id = i.shipping_id
        FROM [dbo].[part_status] ps
        JOIN inserted i ON ps.part_id = i.part_id
        WHERE i.station_id = @station_id;
    END

    ------------------------
    ---Penetrace Rework
    ------------------------
    set @station_id = '8'
    IF EXISTS (
        SELECT 1 
        FROM inserted i 
        join [dbo].[part_status] ps 
            on i.part_id = ps.part_id
        WHERE (ps.station_id = '3' and ps.last_status = 'REWORK'))
    BEGIN
        UPDATE ps
        SET 
            ps.last_status = i.status,
            ps.status_timestamp = i.status_timestamp,
            ps.employee_id = i.employee_id,
            ps.station_id = i.station_id,
            ps.shipping_id = i.shipping_id
        FROM [dbo].[part_status] ps
        JOIN inserted i ON ps.part_id = i.part_id
        WHERE i.station_id = @station_id;
    END

    ------------------------
    ---Tryskani Rework
    ------------------------
    set @station_id = '9'
    IF EXISTS (
        SELECT 1 
        FROM inserted i 
        join [dbo].[part_status] ps 
            on i.part_id = ps.part_id
        WHERE (ps.station_id = '4' and ps.last_status = 'REWORK'))
    BEGIN
        UPDATE ps
        SET 
            ps.last_status = i.status,
            ps.status_timestamp = i.status_timestamp,
            ps.employee_id = i.employee_id,
            ps.station_id = i.station_id,
            ps.shipping_id = i.shipping_id
        FROM [dbo].[part_status] ps
        JOIN inserted i ON ps.part_id = i.part_id
        WHERE i.station_id = @station_id;
    END

    ------------------------
    ---Kontrola kvality Rework
    ------------------------
    set @station_id = '10'
    IF EXISTS (
        SELECT 1 
        FROM inserted i 
        join [dbo].[part_status] ps 
            on i.part_id = ps.part_id
        WHERE (ps.station_id = '5' and ps.last_status = 'REWORK'))
    BEGIN
        UPDATE ps
        SET 
            ps.last_status = i.status,
            ps.status_timestamp = i.status_timestamp,
            ps.employee_id = i.employee_id,
            ps.station_id = i.station_id,
            ps.shipping_id = i.shipping_id
        FROM [dbo].[part_status] ps
        JOIN inserted i ON ps.part_id = i.part_id
        WHERE i.station_id = @station_id;
    END

    ------------------------
    ---Destruktivni kontrola
    ------------------------
    set @station_id = '11'
    IF EXISTS (
        SELECT 1 
        FROM inserted i 
        WHERE i.station_id = @station_id)
    BEGIN
        UPDATE ps
        SET 
            ps.last_status = i.status,
            ps.status_timestamp = i.status_timestamp,
            ps.employee_id = i.employee_id,
            ps.station_id = i.station_id,
            ps.shipping_id = i.shipping_id
        FROM [dbo].[part_status] ps
        JOIN inserted i ON ps.part_id = i.part_id
        WHERE i.station_id = @station_id;
    END
END;
GO
ALTER TABLE [dbo].[traceability_log] ENABLE TRIGGER [trg_Insert_Update_Part_Status]
GO

CREATE TABLE [dbo].[printed_labels] (
    [label_id] INT IDENTITY(1,1) PRIMARY KEY,
    [label_number] BIGINT NOT NULL UNIQUE,
    [printed_by] VARCHAR(100) NULL,
    [printed_at] DATETIME NOT NULL DEFAULT GETDATE()
);
